.destination-selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}
.user-selected-text{
    font-style: italic;
    text-transform: lowercase;
    color: rgb(54, 44, 107);
    font-size: 28px;
}
.user-selected-all-text{
    padding-bottom: 5px;
}
@media screen and (max-width: 600px) {
    .destination-selection {
        margin-bottom: 30px;
    }
    .destination-selection .badge{
        width: 92%;
        padding: -5px;
        margin-right: 12px;
    }
    .user-selected-text {
        font-size: 20px;
    }
}
@media (min-width: 601px) and (max-width: 1370px) {
    .destination-selection {
         margin-bottom: 30px;
    }
}